<launch>
    <arg name="mav_name" default="tx_uav" />

    <node pkg="px4ctrl" type="collision_recovery_node" name="collision_recovery" output="screen">
        <rosparam command="load" file="$(find px4ctrl)/config/collision_recovery.yaml" />

        <remap from="~odom" to="/$(arg mav_name)/imu_mocap_fusion/odom" />
        <remap from="~ewe" to="/$(arg mav_name)/external_wrench_estimation/ewe_out" />
        <remap from="~cmd" to="/$(arg mav_name)/position_cmd" />
    </node>

</launch>